/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap'); */
:root{
  --text-gray:#3f4954;
  --text-light:#686666da;
  --midnight:#104f55;
  --bg-color:#0f0f0f;
  --white:#ffffff;
  --sky: linear-gradient(to top, #7587ec 0%, #a6c1ee 100%);
  --lexend:'Lexend',cursive;
  --Anton:'Anton',cursive;
  --Abel:'Abel',cursive;
}

  .body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    /* background-image: url(https://i.pinimg.com/originals/a2/3a/c9/a23ac93734beb9407148dd04502de69a.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: #ccc; */
    /* background: linear-gradient(135deg, #71b7e6, #9b59b6); */
    font:600 16px/18px var(--Abel)
  }
  .cont{
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    color: var(--bg-color);
    border-radius: 5px;
    border: 2px solid rgba(40,57,101,.9);
    background: rgba(40,57,101,.9);
    box-shadow: 0 5px 10px rgba(53, 43, 43, 0.15);
  }
  .cont .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
  }
  .cont .title::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    top: 20px;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background: linear-gradient(135deg, #989ea2, #f5ddff);
  }
  .content form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
  }
  form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
  }
  form .input-box span.details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
  }
  .user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }
  .user-details .input-box input:focus,
  .user-details .input-box input:valid{
    border-color: #9b59b6;
  }
   form .gender-details .gender-title{
    font-size: 20px;
    font-weight: 500;
   }
   form .category{
     display: flex;
     width: 80%;
     margin: 14px 0 ;
     justify-content: space-between;
   }
   form .category label{
     display: flex;
     align-items: center;
     cursor: pointer;
   }
   form .category label .dot{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 10px;
    background: #d9d9d9;
    border: 5px solid transparent;
    transition: all 0.3s ease;
  }
  .title label{
    color: #aaa;
  }
   #dot-1:checked ~ .category label .one,
   #dot-2:checked ~ .category label .two,
   #dot-3:checked ~ .category label .three{
     background: #1161ee;;
     border-color: #d9d9d9;
   }
   form input[type="radio"]{
     display: none;
   }
   form .buttonn{
     height: 45px;
     margin: 35px 0;
     text-align:center;
   }
   form .buttonn .butt{
    
     border-radius: 5px;
     border: none;
     color: #fff;
     font-size: 18px;
     font-weight: 500;
     text-decoration: none;
     letter-spacing: 1px;
     cursor: pointer;
     padding: 1rem 17rem;
     transition: all 0.3s ease;
     background: #1161ee;
     /* background: linear-gradient(135deg, #71b7e6, #9b59b6); */
   }
  
   @media(max-width: 584px){
   .cont{
    max-width: 100%;
  }
  form .user-details .input-box{
      margin-bottom: 15px;
      width: 100%;
    }
    form .category{
      width: 100%;
    }
    .content form .user-details{
      max-height: 300px;
      overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
      width: 5px;
    }
    }
    @media(max-width: 459px){
    .cont .content .category{
      flex-direction: column;
    }
  }
  