.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 10;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup-inner {
    background-color: #2E3748;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    padding: 0;
    max-width: 100%;
  }
  .popup .popup-inner .close-btn{
    padding: 0.1rem 0.7rem; 
    border-radius: 7px;
    margin-top: 1rem;
    margin-left: 32rem;
    background: linear-gradient(to top, #2E3748 0%, #d1d7e1 100%);
    position: relative;
    cursor: pointer;
    color: var(--white);
    border: none;
  }
  .popup .popup-inner .close-btn:hover {
    background:transparent;
    border:1px solid var(--white);
    color: white;
  }